/* --------------------------------------*/
/* ------ COLOR PALLETTE ------ */
/* Base orange color: #e67e22 */
/* Darker shade of orange: #cf6d17 */
/* Gray background color: #f4f4f4 */
/* --------------------------------------*/

/* --------------------------------------*/
/* ------ BASIC SETUP ------ */
/* --------------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* --------------------------------------*/
/* ------ REUSABLE COMPONENTS ------ */
/* --------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ------ HEADINGS ------ */

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 200;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  font-weight: 300;
  word-spacing: 2px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: .25px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 25px;
}

h3 {
  font-size: 110%;
  font-weight: 200;
  margin-bottom: 15px;
}

/* ------ PARAGRAPHS ------ */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.features .long-copy {
  margin-bottom: 15px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
  margin-bottom: 60px;
}

/* ------ ICONS ------ */

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 10px;
}

/* ------ LINKS ------ */

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ------ BUTTONS ------ */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 12px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* --------------------------------------*/
/* ------ HEADER ------ */
/* --------------------------------------*/

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .7))), url(images/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* MAIN NAV */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
}

/*.main-nav-show {
  display: block;
}*/

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* STICKY NAV */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0px;
  color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* MOBILE NAV */

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* ------ MEALS ------ */

.section-meals {
  padding: 0;
  margin: 0;
}

.ul-meals {
  list-style: none;
  width: 100%;
}

.section-meals li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
}

/* ------ HOW IT WORKS ------ */

.section-steps {
  background-color: #f4f4f4;
  padding-bottom: 65px;
}

.steps-box {
  /*margin-bottom: 30px;*/
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-stop {
  margin-bottom: 50px;
}

.works-stop:last-of-type {
  margin-bottom: 80px;
}

.works-stop div {
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  display: inline-block;
  height: 54px;
  width: 54px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------ CITIES ------ */

.section-cities {
  padding-bottom: 65px;
}

.box img {
  width: 100%;
  height: auto;
}

.box h3 {
  margin: 15px 0px;
  font-weight: bold;
}

.city-feature {
  margin: 3px 0px;
}

.city-feature i {
  font-size: 120%;
  line-height: 120%;
  margin-right: 15px;
  color: #e67e22;
}

.twitter-icon:hover {
  color: #0084b4;
}

/* ---------------  MY VERSION OF THE CSS FOR TESTIMONIALS SECTION  ----------------- */

/*.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/pizza.jpg);
  background-size: cover;
  padding-bottom: 50px;
}

.testimonials-heading {
  color: #fff;
}

.ion-quote,
#quotes,
.customer-name {
  color: #fff;
  font-style: italic;
}

.ion-quote {
  font-size: 200%;
}

#quotes {
  font-size: 100%;
  margin: 15px 0;
}

#customer {
  width: 15%;
  height: auto;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.customer-name {
  font-size: 90%;
}*/

/* ---------------  JONAS VERSION OF THE CSS FOR TESTIMONIALS SECTION  ----------------- */

.section-testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, .8))), url(images/back-customers.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(images/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  padding-bottom: 35px;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 22px;
  vertical-align: bottom;
}

/*------------------  MY VERSION OF THE CSS FOR THE PLANS SECTION  -------------------*/

/*.section-plans {
  background-color: #f4f4f4;
  padding-bottom: 75px;
  margin: auto;
}

.plans-box {
  padding-top: 5px;
}

.plans-box h3 {
  font-weight: bold;
}

.plans {
  background-color: #fff;
  margin: 1px 0;
  padding: 20px 20px;
}

.price,
.time-period {
  color: #e67e22;
}

.price {
  font-size: 300%;
  font-weight: 200;
}

.price-tagline {
  font-size: 80%;
  padding-top: 10px;
}

.plans i {
  color: #e67e22;
  font-size: 135%;
  padding: 5px;
}

.icon-phrase {
  display: inline-block;
  padding: 5px 0;
}

.plan-btn {
  text-align: center;
}*/


/* ---------------  JONAS VERSION OF THE CSS FOR PLANS SECTION  ----------------- */

.section-plans {
  background-color: #f4f4f4;
  padding-bottom: 65px;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: none;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/* ---------------  JONAS VERSION OF THE CSS FOR FORMS SECTION  ----------------- */

.section-form {
  padding-bottom: 55px;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=submit],
select,
textarea {
  font-family: inherit;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select {
  font-weight: 300;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select {
  font-weight: 300;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select {
  font-weight: 300;
}

input::placeholder,
textarea::placeholder,
select {
  font-weight: 300;
}

*:focus {
  outline: none;
}

/* ---------------  MY VERSION OF THE CSS FOR FOOTER SECTION  ----------------- */

/*footer {
  background-color: #44474c;
  color: #f4f4f4;
  padding: 50px;
  font-size: 80%;
}

.footer-links,
.footer-socials {
  list-style: none;
}

.footer-links {
  float: left;

}

.footer-socials {
  float: right;
  font-size: 125%;
}

.footer-links li,
.footer-socials li {
  display: inline;
}

.footer-links li a:link,
.footer-links li a:visited,
#footer-icons {
  color: #f4f4f4;
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin-top: 30px;
}*/

/* ---------------  JONAS VERSION OF THE CSS FOR FOOTER SECTION  ----------------- */

footer {
  background: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: none;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5999;
}

.ion-social-twitter:hover {
  color: #55acee;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #e4405f;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}


/* --------------------------------------*/
/* ------ ANIMATIONS ------ */
/* --------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated {
  opacity: 1;
}
